.card-content {
  margin: 25px;
}

.field {
  display: flex;
  justify-content: space-around;
}
.line-blue {
  height: 20px;
  width: 100%;
  background-color: rgb(53,69,175) ;
}
.container {
  margin: 25px;
}
table {
  width: 100%;
}
.example-button-container {
  display: flex;
  justify-content: flex-end;
}
